/* Base Styles */
.footer {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.footer:not(.color-scheme-1) {
  border-top: none;
}

.footer__content-top {
  padding-top: 56px;
  padding-bottom: 56px;
  display: block;
}

.footer__content-bottom {
  border-top: solid 0.1rem rgba(var(--color-foreground), 0.08);
  padding-top: 2rem;
}

.footer__content-bottom:only-child {
  border-top: 0;
}

.footer__content-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 25px;
}

.footer__localization:empty + .footer__column--info {
  align-items: center;
}

/* .footer__column {
  width: 100%;
  align-items: flex-end;
} */

.footer__column--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-block:only-child:last-child {
  text-align: center;
  max-width: 76rem;
  margin: 0 auto;
}

.footer-block:empty {
  display: none;
}

.footer-block--newsletter {
  display: flex;
  align-items: flex-end;
  margin-top: 3rem;
  gap: 1rem;
}

.footer-block--newsletter:only-child {
  margin-top: 0;
}

.footer-block__heading,
.footer-block__details-content,
.footer-block__details-content a {
  word-break: normal;
  word-wrap: normal;
  overflow-wrap: normal;
  white-space: normal;
  padding-inline-start: 0;
}

.footer-block__heading {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  line-height: 2.275rem;
  margin-bottom: 2.4rem;
  margin-top: 0;
  font-size: 1.4rem;
  color: rgba(var(--color-foreground), 1);
}

.footer__list-social:empty,
.footer-block--newsletter:empty {
  display: none;
}

.footer__follow-on-shop {
  display: flex;
  text-align: center;
}

.footer__list-social.list-social:only-child {
  justify-content: center;
}

.footer-block__newsletter {
  text-align: center;
  flex-grow: 1;
}

.newsletter-form__field-wrapper {
  max-width: 36rem;
}

.footer__localization {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 1rem 0 1rem 0;
}

.footer__localization:empty {
  display: none;
}

.footer__localization h2 {
  margin: 1rem 1rem 0.5rem;
  color: rgba(var(--color-foreground), 0.75);
}

.footer__localization {
  position: relative;
}

.footer__localization .localization-list {
  position: absolute;
  box-shadow: #0000001a 0 1px 3px, #0000000f 0 1px 2px;
  list-style: none;
  padding: 0;
  max-height: 60vh;
  overflow: auto;
  bottom: 100%;
}

.footer__content-bottom-wrapper--center {
  justify-content: center;
}

.footer__copyright {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.footer-block__details-content {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-block__details-content>p {
  padding: 0;
  list-style: none;
}

.footer-block__details-content>li {
  list-style: none;
}

.footer-block__details-content .list-menu__item--link,
.copyright__content a {
  color: #fff;
  text-decoration: none;
  text-transform: none;
}

.footer-block__details-content .list-menu__item--link {
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  line-height: 1.4rem;
}

.footer-block__details-content .list-menu__item--active {
  transition: text-decoration-thickness 150ms ease;
  color: rgb(var(--color-foreground));
}

.footer-block-image {
  display: flex;
}

.footer-block-image.left {
  justify-content: flex-start;
}

.footer-block-image.center {
  justify-content: center;
}

.footer-block-image.right {
  justify-content: center;
}

li.list-social__item a {
  /* background: #2E2E2E; */
  border-radius: 50px;
  color: white;
}

.footer-block__image-wrapper {
  overflow: hidden !important;
  /* margin-bottom: 2.6rem; */
  max-width: 175px;
}

.footer-block__image-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.footer-block__brand-info {
  display:flex;
  flex-direction: column;
  gap: 2.4rem;
  text-align: left;
  justify-content: flex-start;
}

.footer-block:only-child > .footer-block__brand-info > .footer-block__image-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.footer-block-image > img,
.footer-block__brand-info > img {
  height: auto;
}

.footer-block:only-child .footer-block__brand-info .footer__list-social.list-social {
  justify-content: center;
}

.footer-block__brand-info .footer__list-social.list-social {
  justify-content: center;
}

.footer-block__details-content .placeholder-svg {
  max-width: 20rem;
}

.copyright__content {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.copyright__content a {
  color: currentColor;
  text-decoration: none;
}

.policies {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  justify-content: center;
}

.policies li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.policies li::before {
  content: '\00B7';
  padding: 0 0.8rem;
}

.policies li a {
  padding: 0.6rem 0;
  display: block;
}
/* Animations */
@keyframes appear-down {
  0% {
    opacity: 0;
    margin-top: -1rem;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes animateLocalization {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}

/* Newsletter */
.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

.newsletter-form__button {
  width: 4.4rem;
  margin: 0;
  right: 1px;
  top: 0;
  height: 100%;
  z-index: 2;
}

.newsletter-form__button:focus-visible {
  box-shadow:
    0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow:
    0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.newsletter-form__button .icon {
  width: 1.5rem;
}

/* List Menu */
.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.list-menu__item--active:hover {
  text-decoration-thickness: 0.2rem;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}

/* List Payment */
.list-payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;/
}

.list-payment__item {
  align-items: center;
  display: flex;
  padding: 0.5rem;
}

/* List Social */
.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.list-social__item .icon {
  height: 1.6rem;
  width: 1.6rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: .6rem;
  color: rgb(var(--color-foreground));
  width: 30px;
  height: 30px;
}

.utility-bar .list-social__link {
  padding: 0 0.8rem;
  height: 3.8rem;
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}

/* Footer Grid and Layout */
.footer__blocks-wrapper {
  display: flex;
  gap: 22.4rem;
  justify-content: space-between;
  margin-bottom: 32px;
}

.footer-block-social-icons {
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer__list-social {
  display: flex !important;
  flex-direction: row !important;
  gap: 2.4rem;
}

.footer__payment-row {
  margin-top: 20px;
  text-align: center;
}

.footer__payment-row .list-payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__payment-row .icon {
  height: 22px;
  width: auto;
  display: inline-block;
}

.footer__blocks-wrapper,
.footer__payment-row {
  width: 100%;
  box-sizing: border-box;
}

ul.footer-block__details-content a.link.link--text.list-menu__item.list-menu__item--link {
  text-decoration: auto;
}

.footer__content-top.page-width {
  max-width: 100%;
  padding: 40px;
}

.footer-block.grid__item .footer__list-social {
  justify-content: space-between;
  list-style: none;
  padding-inline-start: 0;
}

/* MEDIA QUERIES */

/* Small Devices - Max Width 989px */
@media screen and (max-width: 989px) {
  .footer__copyright {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0;
  }

  .footer .grid {
    display: block;
  }

  .footer__content-top.page-width {
    padding: 40px 10px;
  }

  .footer-block__details-content {
    margin-bottom: 0rem;
  }

  .footer-block.grid__item:first-child {
    margin-top: 0;
  }

  .footer__content-top {
    padding-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  /* Override padding to a more compact size on small screens */
  .footer__content-top,
  .footer__content-top.page-width {
    padding: 24px 16px;
  }

  .footer__content-bottom {
    padding: 0px 16px;
  }

  .footer__content-bottom-wrapper {
    flex-wrap: wrap;
    padding: 1rem 0;
  }

  .footer__content-bottom.scroll-trigger.animate--slide-in {
    animation: none;
    opacity: 1;
    transform: inherit;
  }

  .footer__localization:empty + .footer__column {
    padding-top: 1.5rem;
  }

  .footer-block.footer-block--menu:only-child {
    text-align: left;
  }

  /*
    On a small screen we want all the items to be centered
    because they will be stacked.
   */
  .footer-block--newsletter {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    align-items: center;
    gap: 3rem;
  }

  .footer__list-social.list-social,
  .footer__follow-on-shop,
  .footer-block__newsletter {
    display: flex;
    justify-content: center;
  }

  .footer-block__newsletter {
    flex-direction: column;
  }

  .footer__blocks-wrapper {
    margin-bottom: 32px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .footer-block.grid__item {
    max-width: fit-content;
    padding: 0;
  }

  .footer-block-image,
  .footer-block-image.left,
  .footer-block-image.center,
  .footer-block-image.right {
    justify-content: center;
  }

  .list-social {
    justify-content: center;
  }

  .list-social__link {
    padding: 4px;
  }

  li.list-social__item a {
    width: 24px;
    height: 24px;
  }
}

/* Extra Small Devices - Max Width 768px */
@media screen and (max-width: 768px) {
  .footer__content-bottom-wrapper {
    flex-direction: column;
    justify-content: center;
  }
}

/* Extra Small Devices - Max Width 500px */
@media screen and (max-width: 500px) {
  .footer-block.grid__item {
    padding: 0;
    width: 100%;
  }

  .footer__localization {
    padding: 2rem 0 00;
  }

  .localization-button {
    padding-inline: 0;
  }
}

/* Medium Devices - Min Width 990px */
@media screen and (min-width: 990px) {
  .footer__content-top .grid {
    row-gap: 6rem;
    margin-bottom: 0;
  }

  .footer__column--info {
    align-items: flex-end;
  }

  .footer-block {
    display: block;
    margin-top: 0;
  }

  .footer-block--newsletter {
    flex-wrap: nowrap;
    justify-content: center;
  }

  /* Pushes other components to the right of the flexbox */
  .footer-block__newsletter:not(:only-child) {
    text-align: left;
    margin-right: auto;
  }

  .footer-block__newsletter:not(:only-child) .footer__newsletter {
    justify-content: flex-start;
    margin: 0;
  }

  .footer-block__newsletter:not(:only-child) .newsletter-form__message--success {
    left: auto;
  }

  .footer__follow-on-shop {
    margin-bottom: 0.4rem;
  }

  /* Follow on shop is the first button but it has siblings*/
  .footer__follow-on-shop:first-child:not(:last-child) {
    justify-content: flex-start;
    margin-right: auto;
    text-align: left;
  }

  /*
    All three components are present, email, Follow on Shop, and social icons.
    Moves the FoS button next to the social icons so they appear grouped together
  */
  .footer__follow-on-shop:not(:first-child):not(:last-child) {
    justify-content: flex-end;
    text-align: right;
  }

  .footer-block__newsletter + .footer__list-social {
    margin-top: 0;
  }

  .footer__localization {
    padding: 0.4rem 0;
    justify-content: flex-start;
  }

  .footer__localization h2 {
    margin: 1rem 0 0;
  }

  /* .footer__content-bottom-wrapper:not(.footer__content-bottom-wrapper--center) .footer__copyright {
    text-align: right;
  } */

  .footer-block__details-content {
    margin-bottom: 0;
  }

  .footer-block:only-child li {
    display: inline;
  }

  .footer-block__details-content > li:not(:last-child) {
    margin-right: 1.5rem;
  }

  .footer-block__details-content .list-menu__item--link:hover,
  .copyright__content a:hover {
    color: rgb(var(--color-foreground));
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }

  .footer-block__details-content .list-menu__item--active:hover {
    text-decoration-thickness: 0.2rem;
  }

  .footer-block__details-content .list-menu__item--link {
    display: inline-block;
  }

  .footer-block__details-content > :first-child .list-menu__item--link {
    padding-top: 0;
  }

  .policies li a {
    padding: 0;
  }

  .newsletter-form {
    align-items: flex-start;
    margin: 0 auto;
    max-width: 36rem;
  }

  .newsletter-form__message {
    justify-content: flex-start;
  }

  .list-payment {
    justify-content: flex-end;
    margin: -0.5rem;
    padding-top: 0;
  }

  .footer-block.grid__item:nth-child(2) {
    max-width: 75%;
    margin: 0 auto;
  }
}

/* Large Devices - Min Width 990px */
@media screen and (min-width: 990px) {
  .footer__payment-row {
    margin-top: 28px;
  }

  .footer-block {
    width: 100%;
    max-width: none;
    flex: 1 1 25%;
  }
}

/* Browser Support - Flexbox Gap Fallback */
@supports not (inset: 10px) {
  @media screen and (max-width: 989px) {
    .footer .grid {
      margin-left: 0;
    }
  }

  @media screen and (min-width: 990px) {
    .footer__content-top .grid {
      margin-left: -3rem;
    }

    .footer__content-top .grid__item {
      padding-left: 3rem;
    }
  }
}

.footer-block__social-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-block__social-heading {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.footer-block__description {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.275rem;
  letter-spacing: 0.05rem;
}

.footer-block__download-app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
}

.footer-block__download-links {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}

.footer-block__download-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-block__download-link img {
  width: 100%;
}

.grid__item {
  max-width: fit-content !important;
  overflow: hidden !important;
}